@import "./../../styles/variables.scss";
.patients {
	height: calc(100vh - 170px);
	min-height: 680px;
	background: $clr-white;
	padding: 30px 25px;
	border-radius: 10px;
	border: 1px solid $clr-greyBorder;
	&__table{
		height: calc(100% - 135px);
	}
}