@import "./../../styles/variables.scss";
div.workShift {
	width: 400px;
	height: 100%;
	display: flex;
	gap: 20px 0;
	div.workShift__btns {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		gap: 11px;
	}
	button.workShift__btn {
		width: 90px;
		height: 39px;
		border-radius: 4px;
		font-family: "SF Pro Display";
		font-weight: 700;
		font-size: 16px;
		line-height: 19px;
		border: 1px solid $clr-active;
		background-color: $clr-white;
		color: $clr-active;
		@media (max-width: 1200px) {
			width: calc((100% - 33px) / 4);
		}
		@media (max-width: 900px) {
			width: calc((100% - 22px) / 2);
		}
		&_close {
			color: $clr-white;
			border: 1px solid $clr-active;
			background: $clr-active;
		}
	}
	h4.workShift__title {
		font-weight: 600;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0.24379px;
		color: $clr-black;
	}
	p.workShift__text {
		font-weight: 500;
		font-size: 14px;
		line-height: 100%;
		letter-spacing: -0.205297px;
		color: $clr-desc;
	}
}
.workShift__empty {
	width: 400px;
	height: 100%;
	display: flex;
	flex-direction: column;
	@media (max-width: 1200px) {
		align-items: flex-end;
		height: auto;
	}
	row-gap: 20px;
	&__text {
		font-family: "SF Pro Display";
		font-style: normal;
		font-weight: 600;
		font-size: 20px;
		line-height: 100%;
		letter-spacing: 0.24379px;
		color: $clr-grey;
	}
	&__image {
		width: 100%;
		height: 100%;
		background-position: center;
		background-size: contain;
		background-repeat: no-repeat;
		background-image: url(./../../assets/images/doctors_workshift.svg);
		@media (max-width: 1200px) {
			height: 300px;
		}
	}
}
