@import './../../styles/variables.scss';
button.MuiButton-root {
	font-family: "SF Pro Display";
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 100%;
	text-transform: inherit;
	padding: 11px;
	&:hover{
		border-color: $clr-active;
	}
}
button.MuiButton-contained {
	background: $clr-active;
	box-shadow: none;
	color: $clr-white;
	&:hover {
		background: rgba($clr-active, 0.8);
		box-shadow: none;
	}
	&:focus {
		background: rgba($clr-active, 0.8);
		box-shadow: none;
		border: 0;
		outline: 0;
	}
}
button.MuiButton-text {
	color: $clr-active;
	text-transform: inherit;
	&:hover {
		background: transparent;
	}
}
button.Mui-focusVisible {
	border: 1px solid $clr-active;
}
button>span.MuiButton-startIcon{
	margin-right: 11px;
	margin-left: 0px;
}
a{
	text-decoration: none;
}