@import './variables.scss';
h3.subtitle{
	font-size: 24px;
}
.btn_close{
	cursor: pointer;
	// background-color: red;
}
.modal__view_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	min-height: 850px;
	z-index: 999;
	background: rgba($clr-black, 0.4);
}