$clr-bgColor: #f8f7f3;
$clr-base: #aecdfd;
$clr-active: #68b7ec;
$clr-activeLight: #e2f1fc;
$clr-white: #ffffff;
$clr-black: #4c464b;
$clr-grey: #a8a8a8;
$clr-greyLight: #f7f3f7;
$clr-greyBorder: #f1f0f3;
$clr-violet: #c565fc;
$clr-red: #d42027;
$clr-scroll: #cdc5cb;
$clr-desc: #3b393c;