$clr-base: #AECDFD;
$clr-active: #68B7EC;
$clr-activeLight: #E2F1FC;
$clr-white: #FFFFFF;
$clr-black: #4C464B;
$clr-grey: #A8A8A8;
$clr-greyLight: #F7F3F7;
$clr-greyBorder: #F1F0F3;
$clr-violet: #C565FC;
$clr-red: #D42027;