.progress{
	&::before{
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		background-color: rgba($color: #000000, $alpha: .3);
		z-index: 900;
	}
	span.progress__bar {
		position: fixed;
		top: 50%;
		left: calc(50% - 25px);
		z-index: 1000;
		width: 50px!important;
		height: 50px!important;
		
		svg {
			width: 50px;
			height: 50px;
		}
	}
}
