// @import url(./../../../node_modules/react-calendar/dist/Calendar.css);
.react-calendar {
	width: 100%;
	max-width: 400px;
	// height: 100%;
	border: none;
	border-radius: 10px;
	&__month-view {
		&__weekdays {
			justify-content: space-between;
			margin-bottom: 20px;
			&__weekday {
				max-width: 40px;
				gap: 0 1.4rem;
				font-size: 14px;
				line-height: 10px;
				color: #a8a8a8;
				text-decoration: none;
				& abbr{
					text-decoration: none;
				}
			}
		}
		&__days {
			justify-content: space-between;
			gap: 15px 20px;
			&__day{
				color: #4C464B;
				&--neighboringMonth{
					color: #CDC5CB;
				}
			}
		}
	}

	&__tile {
		max-width: 40px;
		max-height: 40px;
		font-size: 14px;
		line-height: 13px;
		border-radius: 8px;
		&:enabled:hover,
		&:enabled:focus {
			background-color: #68b7ec;
			color: #FFFFFF;
		}
		&--now {
			color: #FFFFFF;
			background-color: #AECDFD;
		}
		&--active {
			color: #FFFFFF;
			background: #68b7ec;
		}
	}
}
