.manual__page {
	position: relative;
	height: 100vh;
	overflow: hidden;
	display: flex;
	align-items: center;
}
.manual__page::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(
		to left,
		rgba(250, 250, 250, 0) 0%,
		rgba(255, 255, 255, 0.9) 40%,
		rgba(255, 255, 255, 0.98) 65%,
		rgba(255, 255, 255, 1) 100%
	);
	/* z-index: 0; */
}
.manual__logo{
	position: absolute;
	z-index: 10;
	top: 100px;
}
.manual__bg__image {
	position: absolute;
	width: 100%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100%;
	object-fit: cover;
}

.manual__content {
	position: relative;
	z-index: 10;
	width: 100%;
}
