@import './assets/fonts/SF\ Dispaly\ Font/stylesheet.css';
@import '../node_modules/normalize.css/normalize.css';
/* @import './components/SignIn/style.css'; */
/* @import './components/InputMUI/styles.module.css'; */
*{
	font-family: 'SF Pro Display';
	font-weight: 400;
}
.App{
	height: 100vh;
}