@import "./../../../styles/variables.scss";
.form {
	position: relative;
	top: calc((100% - 400px) / 2);
	max-width: 400px;
	width: 100%;
	height: fit-content;
	padding: 0 25px;
	&__button_back {
		position: absolute;
		top: -100px;
		left: 16px;
		margin-top: 24px;
	}
	&__label {
		padding-bottom: 6px;
	}
	&__inputWrap {
		position: relative;
		// background-color: red;
	}
	&__email_message {
		position: absolute;
		bottom: -16px;
		left: 10px;
		color: $clr-red;
		font-weight: 700;
		font-size: 12px;
		line-height: 100%;
	}
	&__password_message {
		position: absolute;
		bottom: -20px;
		left: 10px;
		color: $clr-red;
		font-weight: 700;
		font-size: 12px;
		line-height: 100%;
	}
	&__button {
		height: 50px;
	}
}
button.MuiButton-contained:hover {
	background: rgba($clr-active, 0.85);
}
h3.form__title {
	font-weight: 700;
	font-size: 40px;
	line-height: 48px;
	color: $clr-black;
	padding-bottom: 39px;
}
